@{
	ViewData["Title"] = "GetAll";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
        <label for="tab-1" class="tab">Đăng nhập</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up">
        <label for="tab-2" class="tab">Đăng ký</label>
        <div class="login-form">
            <div class="sign-in-htm">
                <div class="group">
                    <label for="user" class="label">Tên tài khoản</label>
                    <input id="user" type="text" class="input">
                    <div id="username-error" class="error-message"></div>
                   
                </div>
                <div class="group">
                    <label for="pass" class="label">Mật khẩu</label>
                    <input id="pass" type="password" class="input" data-type="password">
                    <div id="password-error" class="error-message"></div>
                  
                </div>
                <div class="group">
                    <input id="check" type="checkbox" class="check" checked>
                    <label for="check"><span class="icon"></span> Lưu đăng nhập</label>
                </div>
                <div class="group">
                    <input id="login-btn" type="submit" class="button" value="Đăng nhập">
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <a href="#forgot">Quên mật khẩu?</a>
                </div>
            </div>
            <div class="sign-up-htm">
                <div class="group">
                    <label for="signup-user" class="label">Tên tài khoản</label>
                    <input id="signup-user" type="text" class="input">
                    <div id="signup-username-error" class="error-message"></div>
                </div>
                <div class="group">
                    <label for="signup-pass" class="label">Mật khẩu</label>
                    <input id="signup-pass" type="password" class="input" data-type="password">
                    <div id="signup-password-error" class="error-message"></div>
                </div>
                <div class="group">
                    <label for="confirm-pass" class="label">Nhập lại mật khẩu</label>
                    <input id="confirm-pass" type="password" class="input" data-type="password">
                    <div id="confirm-password-error" class="error-message"></div>
                </div>
                <div class="group">
                    <label for="email" class="label">Địa chỉ email</label>
                    <input id="email" type="text" class="input">
                    <div id="email-error" class="error-message"></div>
                </div>
                <div class="group">
                    <input id="signup-btn" type="submit" class="button" value="Đăng ký">
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <label for="tab-1">Đã có tài khoản</label>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Lấy các phần tử HTML cần thiết
        const loginForm = $('.login-form');
        const signInForm = loginForm.find('.sign-in-htm');
        const signUpForm = loginForm.find('.sign-up-htm');
        const loginBtn = loginForm.find('#login-btn');
        const signupBtn = loginForm.find('#signup-btn');

        // Xử lý sự kiện khi nhấn nút "Đăng nhập"
        loginBtn.on('click', () => {
            var username = $("#user").val();
            var password = $("#pass").val();
            // alert(username);
            // alert(password);

            // Xóa thông báo lỗi hiện tại
            $('#username-error').text('');
            $('#password-error').text('');
           

            // Kiểm tra nếu tên tài khoản hoặc mật khẩu trống
            if (username.trim() === '' && password.trim() === '') {
                // Hiển thị thông báo lỗi "Vui lòng nhập"
                $('#username-error').text('Vui lòng nhập tên tài khoản và mật khẩu');
                $('#password-error').text('Vui lòng nhập tên tài khoản và mật khẩu');
                return; // Dừng quá trình đăng nhập
            }
            if (username.trim() === '' ) {
                // Hiển thị thông báo lỗi "Vui lòng nhập"
                $('#username-error').text('Vui lòng nhập tên tài khoản và mật khẩu');            
                return; // Dừng quá trình đăng nhập
            }
            else if (password.trim() === '') {                // Hiển thị thông báo lỗi "Vui lòng nhập"
              
                $('#password-error').text('Vui lòng nhập tên tài khoản và mật khẩu');
                return; // Dừng quá trình đăng nhập
            }


            $.ajax({
                url: 'https://localhost:7260/api/NhanVien/Login',
                type: 'POST',
                dataType: 'text',
                contentType: 'application/json',
                data: JSON.stringify({ username, password }),
                success: function (data) {
                    // Xử lý kết quả từ API
                    if (data !== null && data !== undefined && !isNaN(data)) {
                        alert('Đăng nhập thành công!');
                        var userId = parseInt(data); // Chuyển đổi giá trị ID thành số nguyên
                        localStorage.setItem('userId', userId);
                        window.location.href = 'https://localhost:7098/My/Index';

                        // Thực hiện các hành động sau khi đăng nhập thành công
                    } else {
                        // Hiển thị thông báo lỗi cho tên tài khoản hoặc mật khẩu
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#username-error').text('Sai tên tài khoản hoặc mật khẩu');
                    $('#password-error').text('Sai tên tài khoản hoặc mật khẩu');
                }
            });
        });
    });
</script>