
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}


<section class="colorlib-services" data-section="services">
    <div class="colorlib-narrow-content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-md-pull-3 order-md-2 animate-box" data-animate-effect="fadeInRight">
                <form class="d-none d-md-inline-block form-inline">
                    <div class="input-group">
                        <input id="keyword" class="form-control" name="keyword" type="text" placeholder="Tìm kiếm" />
                       @*  <button id="btnSearch1" class="btn btn-primary" type="button">
                            <i class="fas fa-search"></i>
                        </button> *@
                        <button id="btnSearch2" class="btn btn-primary" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
        <section class="row" id="employeeSection">
            <div class="d-flex flex-wrap" id="employeeContainer">
                @* <i class="fas fa-user-circle"></i> *@
            </div>

        </section>
        <ul id="paginationContainer" class="pagination"></ul>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 
    <script type="text/javascript">

    var currentPage = 1; // Trang hiện tại
    var itemsPerPage = 3; // Số lượng nhân viên trên mỗi trang

    $(document).ready(function () {
        GetAllNhanVien();
    });

    function GetAllNhanVien() {
        $.ajax({
            url: 'https://localhost:7260/api/NhanVien/GetAll',
            method: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            error: function (response) {
                console.log(response);
            },
            success: function (response) {
                var employeeContainer = $('#employeeContainer');
                employeeContainer.empty(); // Xóa dữ liệu cũ

                if (response.length > 0) {
                    var startIndex = (currentPage - 1) * itemsPerPage;
                    var endIndex = Math.min(startIndex + itemsPerPage, response.length);

                    for (var i = startIndex; i < endIndex; i++) {
                        var employee = response[i];
                        var employeeHtml = `
                            <div class="col-sm-4">
                                <a href="/My/Details/${employee.maNV}">
                                    <img src="/images/${employee.anh}" width="200px" height="200px" data-id="${employee.maNV}" class="employee-image"/>
                                </a>
                                <div class="desc">
                                    <h3>Họ tên: ${employee.hoTen}</h3>
                                    <p>Công việc: ${employee.congViec}</p>
                                    <p>Phòng ban: ${employee.phongBan}</p>
                                </div>
                                <hr>
                            </div>
                        `;
                        employeeContainer.append(employeeHtml);
                    }

                    // Tạo các nút phân trang
                    var totalPages = Math.ceil(response.length / itemsPerPage);
                    var paginationContainer = $('#paginationContainer');
                    paginationContainer.empty(); // Xóa các nút phân trang cũ

                    for (var page = 1; page <= totalPages; page++) {
                        var activeClass = (page === currentPage) ? 'active' : '';
                        var paginationHtml = `
                            <li class="page-item ${activeClass}">
                                <a class="page-link" href="#" onclick="ChangePage(${page})">${page}</a>
                            </li>
                        `;
                        paginationContainer.append(paginationHtml);
                    }
                }
            },
            fail: function (response) {
                console.log(response);
            }
        });
    }

    function ChangePage(page) {
        currentPage = page;
        GetAllNhanVien();
    }
        // Lắng nghe sự kiện click trên ảnh
        // Lắng nghe sự kiện click trên ảnh
    
  
        function GetByNameNhanVien(name) {
            $.ajax({
                url: 'https://localhost:7260/api/NhanVien/GetByName/' + name,
                method: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                error: function (response) {
                    console.log(response);
                },
           
                success: function (response) {
                    var employeeContainer = $('#employeeContainer');
                    employeeContainer.empty(); // Xóa dữ liệu cũ

                    var count = 0; // Biến đếm số lượng nhân viên đã hiển thị

                    if (response.length > 0) {
                        response.forEach(function (employee) {
                            if (count < 6) { // Chỉ hiển thị 3 nhân viên
                                var employeeHtml = `
                            <div class="col-sm-4">

                                            <a href="/My/Details/${employee.maNV}">
                                        <img src="/images/${employee.anh}" width="200px" height="200px" data-id="${response.maNV}" class="employee-image"/>
                                        </a>
                                <div class="desc">
                                    <h3>Họ tên : ${employee.hoTen}</h3>
                                    <p>Công việc : ${employee.congViec}</p>
                                    <p>Phòng ban : ${employee.phongBan}</p>
                                </div>
                                <hr>
                            </div>
                        `;
                                employeeContainer.append(employeeHtml);
                                count++;
                            }
                        });
                    } else {
                        employeeContainer.append('<p>Không tìm thấy nhân viên</p>');
                    }
                },
                fail: function (response) {
                    console.log(response);
                }
            });
        }

        document.getElementById('btnSearch2').addEventListener('click', function () {
            var keyword = document.getElementById('keyword').value;

            // Gửi yêu cầu tìm kiếm theo tên đến API
            GetByNameNhanVien(keyword);
        });
   
    // });
    </script>

